body{
    font-family: "Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}
/********************************************
MENU
********************************************/
main nav#main-menu{
    background: #cc262c;
    transition: all 1.5s;
    transition-delay: 1.5s;
    position: fixed;
    height: 100%;
    width: 68px;
    overflow: hidden;
    z-index: 999999;
    left: 0;
    top: 0;
}
main nav#main-menu:hover{
    width: 250px;
}
main nav#main-menu #nav-logo {
    background: white;
    padding: 20px 0px 10px 14px
}
main nav#main-menu #nav-search{
    border-bottom: 1px solid #b62525;
    height: 38px;
    overflow: hidden;
    position: relative;
}
main nav#main-menu #nav-search span{
    margin: 0px 15px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 62px;
    cursor: pointer;
}
main nav#main-menu #nav-search .s-search{
    width: 40px;
    height: 34px;
}
main nav#main-menu #nav-search:hover{
    background: white;
}
main nav#main-menu #nav-search form{
    float: right;
}
main nav#main-menu #nav-search form input{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    border: none;
    height: 38px;
    font-size: 15px;
    white-space: normal;
    transition: width 1.5s , padding-left 2s;
    background: transparent;
    transition-delay: 1.5s;
    color: #ccc;
}
main nav#main-menu:hover #nav-search form input{
    padding-left: 7px;
    width: 185px;
}
main nav#main-menu:hover #nav-search form input:focus{
    font-weight: bold;
    background: white;
    font-weight: bold;

}
main nav#main-menu ul li{
    height: 44px;
    border-bottom: 1px solid #b62525;
}
main nav#main-menu ul li a{
    padding-top: 5px;
    display: block;
    white-space: nowrap;
    height: 100%;
}
main nav#main-menu ul li:hover{
    background-color: white;
}
main nav#main-menu ul li a i{
    vertical-align: bottom;
    margin: 0px 15px;
}
main nav#main-menu ul li a span.menu-name{
    display: inline-block;
    vertical-align: bottom;
    height: 26px;
    color: white;
    font-size: 17px;
}
main nav#main-menu ul li a:hover span.menu-name{
    color: #cc262c;
}
/********************************************
HEADER
*********************************************
/*
#top-menu
*/
main #content{
    margin-left: 63px;
}
main #content header{
    position: relative;
}
main #content header #top-menu{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
main #content header ul#top-menu > li{
    float: left;
    text-align: center;
    width: 33%;
    margin-top: 15px;
    position: relative;
}
main #content header ul#top-menu > li > a{
    transition: all .3s;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 10% 0 8%;
}
main #content header ul#top-menu > li > a:hover{
    color: #b72228;
}
main #content header ul#top-menu > li > ul{
    display: none;
    visibility: hidden;
    z-index: 9999;
    width: 180px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
main #content header ul#top-menu > li:hover > ul{
    display: block;
    visibility: visible;
}
main #content header ul#top-menu > li > ul li:first-child::before{
    content: "";
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #cc262c;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
main #content header ul#top-menu > li > ul li:first-child:hover::before{
    border-bottom: 10px solid white;
}
main #content header ul#top-menu > li > ul > li a{
    display: block;
    text-decoration: none;
    color: white;
    background: #cc262c;
    transition: all .2s;
}
main #content header ul#top-menu > li > ul li a:hover{
    background: white;
    color: #cc262c;
}
main #content header ul#top-menu > li > ul li{
    overflow: hidden;
    line-height: 42px;
    border-bottom: 1px solid #b62525;

}
main #content header ul#top-menu > li > ul li a span.sub-menu-text{
    display: inline-block;
}
main #content header ul#top-menu > li > ul li a .sub-menu-img{
    float: left;
    width: 42px;
    height: 42px;
}
/*
#icon-button
*/
main #content header #icon-button{
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
}
main #content header #icon-button ul > li{
    float: left;
    width: 50%;
}
main #content header #icon-button ul > li > a{
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}
main #content header #icon-button ul li a .top-menu-text{
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    transition: all .3s;
}
main #content header #icon-button ul li a:hover .top-menu-text{
    color: #b72228;
}
main #content header #icon-button ul li a i.w-icon-people{
    display: block;
    width: 40px;
    height: 30px;
    margin: auto;
}
main #content header #icon-button ul li a i.w-icon-map{
    display: block;
    width: 20px;
    height: 30px;
    margin: auto;
}
/*
.header-scream
*/
main #content header .header-scream{
    position: absolute;
    right: 0px;
    top: 45%;
    background: #CC262C;
    width: 15%;
    height: 40%;
    padding: 12px;

}
main #content header .header-scream h3{
    font-size: 20px;
    line-height: 21px;
    color: white;
}
/********************************************
HOME CONTENT
*********************************************
/*
#content
*/
section{
    margin: 40px auto 45px;
}
/*
*********************************************
FOOTER
*********************************************
/*
.footer-login
*/
footer{
    margin: 30px 0;
    position: relative;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
}
footer .footer-login .login-container{
    width: 80px;
    background: #cc262c;
    text-align: center;
    display: inline-block;
    position: absolute;
    padding: 8px;
    top: 0;
    right: 0;
}
footer .footer-login .footer-login-text{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: white;
}
footer .footer-login i{
    width: 40px;
    height: 30px;
    display: block;
    margin: auto;
}
/*
.footer-menu
*/
footer .footer-menu{
    padding-top: 15px;
}
footer .footer-menu ul li{
    float: left;
    margin-right: 15px;
}
footer .footer-menu ul li:last-child{
    margin-right: 0px;
}
footer .footer-menu ul li a{
    display: block;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #202020;
}
footer .footer-menu ul li a:hover{
    color: #5E5E5E;
}
/*
.copyright
*/
footer .copyright{
    padding-top: 8px;
    line-height: 45px;
}
footer .copyright #AriazDevs {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
footer .copyright #AriazDevs a:hover ,
footer .copyright #AriazDevs a:focus,
footer .copyright #AriazDevs a:active,
footer .copyright #AriazDevs a:visited{
    text-decoration: none;
    outline: none;
    color: inherit;
}
footer .copyright #AriazDevs a{
    color: #212121;
    text-decoration: none;
    font-weight: bold;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
footer .copyright #AriazDevs a:hover{
    color: #00a2b1;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
footer .copyright #AriazDevs img {
    vertical-align: middle;
}

/*=========================================================================*/
/* HORSE.HTML
/*=========================================================================*/
main nav.content-nav{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    padding: 3px;
    overflow: hidden;
    border: 0 solid #ececec;
    width: 92%;
    z-index: 1;
    background-color: #efefef;
}
main nav.content-nav .content-nav-menu{
    overflow: hidden;
    float: left;
    width: 83.3333%;
}
main nav.content-nav .content-nav-menu li{
    float: left;
}
main nav.content-nav .content-nav-menu li a{
    display: block;
    text-decoration: none;
    color: #777;
    padding: 5px;
    font-size: 13px;
}
main nav.content-nav .content-nav-menu li a::after{
    content: "";
    background: transparent url("../img/sprites.png") -157px -43px;
    display: inline-block;
    margin-left: 3px;
    width: 15px;
    height: 10px;
}
main nav.content-nav .content-nav-icon{
    text-align: center;
    float: right;
    width: 16.33333%;
}
main nav.content-nav .content-nav-icon li {
    display: inline-block;
}
main nav.content-nav .content-nav-icon li a{
    display: inline-block;
}
main nav.content-nav .content-nav-icon li a i{
    display: inline-block;
    width: 28px;
    height: 28px;
}
section.product{
    background: #cc252b;
    color: white !important;
}
.large-format{
    font-size: 60px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.product-caption{
    font-family: 'Libre Baskerville',serif;
    font-size: 16px;
    font-style: oblique;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
}
